@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap");

/* * {
  font-family: inherit;
  box-sizing: inherit;
}
*::before,
*::after {
  box-sizing: inherit;
} */

html {
  font-size: 22px;
}

body {
  color: black;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Grandstander", cursive;
  text-align: center;
}

a {
  color: white;
}

header {
  margin: 0 0 2rem 0;
  color: beige;
  text-align: center;
  background: url("./images/bg.jpg");
  padding: 2rem;
}

footer {
  margin: 2rem;
  text-align: center;
}

#logo {
  font-size: 2rem;
}

#main-nav {
  font-size: 2rem;
}

.list {
  list-style: circle;
}

.list li::before {
  content: "🐳";
  padding-right: 0.5rem;
}

a {
  transition: color 0.2s, background-color 0.2s;
}

a:visited {
  background-color: transparent;
  color: wheat;
}

a:hover {
  background-color: transparent;
  color: yellow;
}

#click-button,
#speak-button {
  display: block;
  margin: 1rem 0;
}

.weclome-message {
  font-size: 1.25em;
}
